body {
    
    background-color: #6EE7B7;
   
}
.text{
    margin: auto;
    background-color: #1F2937;
    border :4px solid #FFFFFF;
    border-radius:10px;
    width:550px;
    height: 550px;
}
#header{
    margin-top:115px;
    margin-left:52px;
    color : #FFFFFF;
    margin-bottom:0%;
}
#rdm{
    margin-left:52px;
    margin-top:0%;
    margin-bottom:0px;
    color: #4ADF86
}
p{
    margin-top:10px;
    margin-left:52px;
    color: #D5D4D8
}
button{
    margin-left:52px;
    width:191px;
    height: 42px;
    margin-top: 35px;
    border-radius: 5px;
    background-color: #10B981;
    border:none;
    color:#FFFFFF;
}
.parent{
    display:flex;
    width:440px;
    margin-left:52px;
    align-items: center;
    margin-top:50px;
    justify-content: space-between;
    }
#first{
    
    width:211px;
    height: 30px;
    background-color: #273549;
    border-radius: 2px;
    text-align: center;
    line-height:30px;
    color:#4ADF86;
    }
#second {
    padding:auto;
    line-height:30px;
    text-align: center;
    width: 211px;
    height: 30px;
    background-color: #273549;
    border-radius:2px;
    color: #4ADF86;
    
    
    
}
.line{
    margin-top:50px;
    margin-left:52px;
    width:438px;
}